.button {
  text-decoration: none;
  text-align: center;
  padding: 10px 20px;
  display: inline-block;
  cursor: pointer;
  background: none;
  font-size: 14px;
  color: white;
  background-color: $primary;
  border: 1px solid $primary-border;
  width: 100%;
  border-radius: 10px;

  &:hover {
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.05);
  }
  &:active {
    box-shadow: inset 0 0 0 500px rgba(0, 0, 0, 0.2);
  }
}
