.main-dashboard {
  box-shadow: 0 5px 5px -1px rgba(0, 0, 0, 0.1),
    0 3px 3px -1px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
}

.header__button {
  width: 100px;
  height: 50px;
  margin-left: auto;
}
