.main-dashboard {
  border: 1px solid black;
}

.header__button {
  width: 100px;
  height: 50px;
  margin-left: auto;
}

.graph-card{
    -webkit-animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
            animation: flip-vertical-right 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
  
}