 @-webkit-keyframes flip-vertical-right {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  @keyframes flip-vertical-right {
    0% {
      -webkit-transform: rotateY(0);
              transform: rotateY(0);
    }
    100% {
      -webkit-transform: rotateY(180deg);
              transform: rotateY(180deg);
    }
  }
  