.layout {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  height: 100vh;
  margin: 0 auto;
}

.layout--center {
  grid-template-rows: 1fr auto 1fr;
}
.layout--top {
  grid-template-rows: auto 1fr;
}
.layout--bottom {
  grid-template-rows: 1fr auto;
}
.layout__item {
  width: 100%;
  height: 100%;
}
.layout__item--center {
  grid-area: 2/2;
}
.layout__item--top {
  grid-area: 1/2;
}
.layout__item--bottom {
  grid-area: 2/2;
}
