/* global */
@import "assets/stylesheets/colors/styles.scss";
@import "assets/stylesheets/variables/styles.scss";
@import "assets/stylesheets/global/styles.scss";

/* components */
@import "global/components/view/styles.scss";

/* blocks */

/* pages */